.amount {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem 2rem;
}
.amount p {
    padding: 0.6rem 1rem;
    background-color: #6f78b9;
    color: white;
    border-radius: 30px;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 13px;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
}

.ingredient {
    box-sizing: border-box;
    margin-left: 1rem;
    padding: 2rem;
    border: 1px solid #e4dbe4;
    background-color: #e5e2e5;
    color: #1f1722;
    border-radius: 20px;
}
.instruction {
    margin: 2rem;
}

.steps {
    padding: 1px;
    margin-top: 1rem;
}

.top img {
    width: 400px;
}