.menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4.4rem;
    left: 0rem;
    padding: 2rem 0rem 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    width: 100%;
}

.menu ul {
    list-style-type: none;
}

.menu li {
    padding: 0.7rem;
    border-bottom: 1px solid rgb(236, 233, 233);
}

.menu a {
    text-decoration: none;
    color: rgb(57, 55, 55);
    padding: 0.2rem 2rem 0.2rem 1rem;
    margin: 0.5rem;
    font-size: 1.25rem;
}
.menu a:hover {
    background-color: white;
}
